<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="shortcut icon" href="../public/about.ico" type="image/x-icon" />
  </head>
  <body class="about">
    <header>
      <nav>
        <a class="links" href="index.html">Home</a>
        <a class="links" href="aboutUs.html">About Us</a>
        <a class="links" href="contact.html">Contact</a>
        <img class="img_nav" src="../public/images/img/logo.png" alt="image1" />
    <link rel="stylesheet" href="../public/css/style.css" />
      </nav>
    </header>

    <main>
      <h1>ABOUT US</h1>
      <h2>We want to share!</h2>
     

      <div class="about">
        <aside class="about">
          <img src="../public/images/img/painting.jpg" alt="image2" id="img2" />
        </aside>
        <section>
          <article>
            We want to dedicate this website to anyone who wants to share their art 
          </article>
        </section>
      </div>
         <div class="about">
        <aside class="about">
          <img src="../public/images/img/woman.jpg" alt="image2" id="img2" />
        </aside>
        <section>
          <article>
           We will have weekly meetings to be able to exhibit their art
          </article>
        </section>
      </div>
         <div class="about">
        <aside class="about">
          <img src="../public/images/img/sea.jpg" alt="image2" id="img2" />
        </aside>
        <section>
          <article>
           We love art 
           </article>
        </section>
      </div>
    </main>
    <footer class="about">
      <h4>Created By: Celso Junior</h4>
    </footer>
  </body>
  </body>
</html>
