* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --colorLeter: #ffffff;
}
header {
  background-image: url('./img/pexels-photo-12988675.jpeg');
  background-position: center;
  background-size: 100wh 100vh;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
select {
  width: 30%;
  height: 55px;
  padding: 10px;
  position: absolute;
  bottom: -20px;
  border: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(71, 71, 73, 0.363);
}

section {
  padding: 10px;
  bottom: -5px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(71, 71, 73, 0.363);
}
p {
  color: var(--colorLeter);
}

span {
  background: linear-gradient(160deg, #85ffbd, #fffb7d);
  -webkit-background-clip: text;
  color: transparent;
}

h1 {
  color: var(--colorLeter);
}

.section-carts {
  display: flex;
  justify-content: center;
  height: 45vh;
  align-items: center;
}
section h1 {
  font-size: 190%;
  margin-bottom: 10px;
}
.headerP {
  width: 45%;
}
section {
  padding: 17px;
  margin: 10px;
  width: 17%;
  height: 38vh;
}
section p {
  padding-bottom: 10px;
}

.cart1 {
  background-image: url(./img/pexels-justyna-serafin-13164394.jpg);
  background-position: center;
  background-size: cover;
}
.cart2 {
  background-image: url(./img/pexels-amber-janssens-12418634.jpg);
  background-position: center;
  background-size: cover;
}
.cart3 {
  background-image: url(./img/pexels-lucas-suárez-13170472.jpg);
  background-position: center;
  background-size: cover;
}
ol {
  list-style-type: upper-roman;
  list-style-position: inside;
  color: var(--colorLeter);
}

footer {
  height: 20vh;
  background: #a7d0d1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-top: auto;
}

h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}
fieldset {
  padding: 10px;
}

fieldset {
  border: 1px solid rgba(206, 16, 16, 0.1);
  box-shadow: 2px 2px 2px 0px rgba(71, 71, 73, 0.363);
}
main {
}
@media ((min-width: 0px) and (max-width: 1024px)) {
  header {
    background-image: url('./img/pexels-photo-12988675.jpeg');
    background-position: center;
    background-size: 100wh 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .headerP {
    width: 100%;
    margin-bottom: 30px;
  }
  select {
    width: 80%;
    height: 40px;
    padding: 10px;
    position: absolute;
    bottom: -20px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(71, 71, 73, 0.363);
  }
  .section-carts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    padding: 10px;
  }

  section {
    padding: 3px;
    margin: 3px;
    width: auto;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  footer {
    height: 20vh;
    background: #a7d0d1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin-top: auto;
  }
}
