<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benefits and Tips</title>
    <link rel="shortcut icon" href="../public/benefits.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="index.html">Home</a>
          <a href="aboutUs.html">About Us</a>
          <a href="contact.html">Contact</a>
          <a href="information.html">Information</a>
          <a href="benefitsTips.html">Benefits Tips</a>
          <a href="raffle.html">Raffle</a>
        </div>
        <img class="img_nav1" src="../public/images/img/logo.png" alt="image1" />
      </nav>
    </header>
    <main class="benefits">
      <h1>Benefits and Tips</h1>
      <h2>Benefits and tips of art</h2>
      <section class="benefits">
        <ol>
          <div>
            <img src="../public/images/img2/art-painting.jpg" alt="" />
            <li>
              Benefits
              <ul>
                <li>Promotes creativity and imagination.</li>
                <li>It helps to improve people's self-esteem.</li>
                <li>Art relaxes.</li>
              </ul>
            </li>
          </div>
          <div>
            <img src="../public/images/img2/boy-mirror.jpg" alt="" />
            <li>
              Tips
              <ul>
                <li>Learn to master color.</li>
                <li>Let go painting.</li>
                <li>Adapt your style .</li>
              </ul>
            </li>
          </div>
        </ol>
      </section>
    </main>
    <footer>
      <h4>Created By: Celso Junior</h4>
    </footer>
  </body>
</html>
