<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="../public/contactico.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="index.html">Home</a>
          <a href="aboutUs.html">About Us</a>
          <a href="contact.html">Contact</a>
          <a href="information.html">Information</a>
          <a href="benefitsTips.html">Benefits Tips</a>
          <a href="raffle.html">Raffle</a>
        </div>
        <img class="img_nav1" src="../public/images/img/logo.png" alt="image1" />
      </nav>
    </header>

    <main class="contact">
      <h1>CONTACT</h1>
      <h2>Contact us!</h2>
      <section class="section_img_contact">
        <img src="../public/images/img/brushes.jpg" alt="image1" />
      </section>

      <div class="contact">
        <section>
          <article>You can leave us an email or call us to send us your art</article>
        </section>
      </div>
      <div class="contact_data">
        <h4 class="contact"><a href="tel:+540112331">Phone: 0112331 </a></h4>
        <h4 class="contact"><a href="mailto:musemind@m.com">E-Mail: musemind@m.com</a></h4>
      </div>
    </main>
    <footer class="contact">
      <h4>Created By: Celso Junior</h4>
    </footer>
  </body>
</html>
