<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Home</title>
    <link rel="shortcut icon" href="../public/home.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header class="index">
      <nav>
        <div>
          <a href="index.html">Home</a>
          <a href="aboutUs.html">About Us</a>
          <a href="contact.html">Contact</a>
          <a href="information.html">Information</a>
          <a href="benefitsTips.html">Benefits Tips</a>
          <a href="raffle.html">Raffle</a>
        </div>
        <img class="img_nav1" src="../public/images/img/logo.png" alt="image1" />
      </nav>
    </header>

    <main class="index">
      <h1>MUSE MIND</h1>
      <h2>HOME</h2>
      <section class="section_img">
        <img src="../public/images/img/imageFrame.jpg" alt="image1" />
      </section>

      <div class="content">
        <section>
          <article>
            We are a group of people with a great love for art and we want to share our creations with others
            and for others to share their creations with us.
          </article>
        </section>
        <aside class="content_right">
          <img src="../public/images/img/lightAndPainting.jpg" alt="image2" id="img2" />
        </aside>
      </div>
    </main>
    <footer>
      <h4>Created By: Celso Junior</h4>
    </footer>
  </body>
</html>
