* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 98%;
  margin: 20px auto;
  background: linear-gradient(#74b709, #c978ff);
}

header {
  height: 10vh;
  width: 100%;
  background-color: #2b3742;
  padding: 3px;
  font-size: 20px;
}
nav {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

nav a {
  color: aliceblue;
  margin-left: 30px;
}
.img_nav1 {
  height: 100%;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

.section_img {
  box-shadow: 10px -1px 10px rgba(103, 11, 126, 0.2);
  background: rgba(214, 27, 27, 0.1);
  border-radius: 20px 0 20px 0;
  margin: 5px;
  width: 100%;
  height: 30vh;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.section_img > img {
  border-radius: 20px 0 20px 0;
  width: 40%;
  height: 100%; /*Maxima altura del contenedor padre es decir "section_img" */
  object-fit: cover; /*Evitando que se coloque la imagen muy apretada, solo tomara una parte nitida de la imagen, si se quita queda el total de la imagen pero apretada*/
}
.content {
  text-align: center;
  padding: 10px;
  margin: 15px auto;
  width: 60%;
  height: 30vh;
  overflow: auto; /*Coloca un scrol en caso de que se desborde las etiquetas hijas cuando se baje el tamaño de l apantalla*/
  display: flex;
}
.content_right img {
  height: 100%; /*la altura solo cubrira hasta el maximo del contenedor padre*/
  padding: 0px;
  object-fit: cover;
}

/*ABOUT*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div {
  display: flex;
  margin: 10px;
}
div.about {
  flex-direction: column;
}
div.about > div > aside {
  margin: 10px;
}
img {
  width: 160px; /*hago que se ajuste la anchura a 90% del contenedor padre (aside)*/
  height: 100%; /*la altura solo cubrira hasta el maximo del contenedor padre*/
  padding: 0px;
  object-fit: cover;
}
footer {
  font-size: 18px;
  margin: 0px auto;
  padding: 2px;
  background-color: #2b3742;
  color: white;
  height: 8vh;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*cntact*/
.section_img_contact {
  box-shadow: 10px -1px 10px rgba(103, 11, 126, 0.2);
  background: rgba(214, 27, 27, 0.1);
  border-radius: 20px 0 20px 0;
  width: 50%;
  height: 50vh;
  padding: 5px;
}

.section_img_contact > img {
  border-radius: 20px 0 20px 0;
  width: 100%;
  height: 100%; /*Maxima altura del contenedor padre es decir "section_img" */
  object-fit: cover; /*Evitando que se coloque la imagen muy apretada, solo tomara una parte nitida de la imagen, si se quita queda el total de la imagen pero apretada*/
}
.contact_data {
  width: 50%;
  justify-content: space-around;
  height: 7vh;
}
