* {
  margin: 0;
  padding: 0;
}
body {
  width: 98%;
  margin: 5px auto;
  background: linear-gradient(#74b709, #c978ff);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

header {
  height: 100%;

  width: 100%;
  background-color: #2b3742;
  padding: 3px;
  font-size: 20px;
}
nav {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

nav a {
  color: aliceblue;
  margin-left: 30px;
}
nav a:hover {
  color: rgb(107, 65, 221);
  background: black;
  border-radius: 15px;
  padding-top: 10px;

  margin-left: 30px;
}
.img_nav1 {
  width: auto;
  height: 10vh;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

.section_img {
  box-shadow: 10px -1px 10px rgba(103, 11, 126, 0.2);
  background: rgba(214, 27, 27, 0.1);
  border-radius: 20px 0 20px 0;
  margin: 5px;
  width: 100%;
  height: 30vh;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.section_img > img {
  border-radius: 20px 0 20px 0;
  width: 40%;
  height: 100%; /*Maxima altura del contenedor padre es decir "section_img" */
  object-fit: cover; /*Evitando que se coloque la imagen muy apretada, solo tomara una parte nitida de la imagen, si se quita queda el total de la imagen pero apretada*/
}
.content {
  text-align: center;
  padding: 10px;
  margin: 15px auto;
  width: 60%;
  height: 30vh;
  overflow: auto; /*Coloca un scrol en caso de que se desborde las etiquetas hijas cuando se baje el tamaño de l apantalla*/
  display: flex;
}
.content_right img {
  height: 100%; /*la altura solo cubrira hasta el maximo del contenedor padre*/
  padding: 0px;
  object-fit: cover;
}

/*ABOUT*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div {
  display: flex;
  margin: 10px;
}
div.about {
  flex-direction: column;
}
div.about > div > aside {
  margin: 10px;
}
img {
  width: 160px; /*hago que se ajuste la anchura a 90% del contenedor padre (aside)*/
  height: 100%; /*la altura solo cubrira hasta el maximo del contenedor padre*/
  padding: 0px;
  object-fit: cover;
}
footer {
  font-size: 18px;
  margin: 0px auto;
  padding: 2px;
  background-color: #2b3742;
  color: white;
  height: 8vh;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*contact*/
.section_img_contact {
  box-shadow: 10px -1px 10px rgba(103, 11, 126, 0.2);
  background: rgba(214, 27, 27, 0.1);
  border-radius: 20px 0 20px 0;
  width: 50%;
  height: 55vh;
  padding: 5px;
}

.section_img_contact > img {
  border-radius: 20px 0 20px 0;
  width: 100%;
  height: 100%; /*Maxima altura del contenedor padre es decir "section_img" */
  object-fit: cover; /*Evitando que se coloque la imagen muy apretada, solo tomara una parte nitida de la imagen, si se quita queda el total de la imagen pero apretada*/
}
.contact_data {
  width: 50%;
  justify-content: space-around;
  margin-bottom: 40px;
}
h4.contact > a {
  text-decoration: none;
}
/*table*/
table,
td {
  border: solid 1px black;
  border-collapse: collapse;
  font-size: 20px;
}
table {
  margin: 10px;
  height: 70vh;
  width: 60%;
}
table tr {
  text-align: center;
}
/*list*/
section.benefits ul {
  padding: 15px;
  clear: both;
  list-style-type: disc;
  list-style: none;
}
section.benefits {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
}
ol {
  padding: 6%;
}
ul > li > img {
  height: 28vh;
}

/*raffle*/

main.raffle {
  width: 100%;
}
main.raffle section.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.raffle > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main.raffle form fieldset > div {
  display: flex;
  flex-direction: column;
}
main.raffle form fieldset.payment > div {
  display: flex;
  flex-direction: row;
}
main.raffle form fieldset.payment > div > label {
  margin: 15px;
}
main.raffle form fieldset.send_info {
  display: flex;
  flex-direction: row;
}
main.raffle form fieldset.send_info > div {
  display: flex;
  flex-direction: row;
}

textarea {
  resize: none;
}
main.raffle form {
}
fieldset {
  border-color: transparent;
}

main.benefits section ol div > li {
  margin: 40px;
}

@media (min-width: 320px) and (max-width: 768px) {
  /*about*/
  main {
  }
  main > div.content {
    display: flex;
    flex-direction: column-reverse;
  }
  header {
    height: 100%;
  }
  header > nav {
    justify-content: center;
  }
  header > nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header > nav img {
    display: none;
  }

  /*About*/

  main.about > div.about > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Contact*/
  main.contact .contact_data {
    display: flex;
    flex-direction: column;
    align-self: self-start;
  }
  /*Benefits*/
  main.benefits section ol div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Raffle*/
  main.raffle > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  main.raffle > div > div {
    border: solid 1px rgba(103, 11, 126, 0.2);
  }
}
